*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    /* position: fixed; */
    top: 0;
    width: 100%;
    opacity: 0.9;
}

.header-content{
    background-color: #3A3845;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-container a{
    margin-left: 10px;
    color: #F1EEE9;
}

.banner {
    height: 400px;
    background-image: url('./banner-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner .backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

.banner .content{
    color: #F1EEE9;
    z-index: 1;
    justify-items: center;
}

.about{
    height: 400px;
    background-color: aliceblue;
}

.section-head{
    padding-top: 20px;
}

.about-me .material-icons{
    font-size: 45px;
    margin-right: 15px;
}

.about-me h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-me .avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #ddd;
}

.about-me .info{
    margin-left: 35px;
}

.about-me table td{
    padding-right: 15px;
    padding-top: 5px;
    font-size: 19px;
}

.education .material-symbols-outlined{
    font-size: 45px;
    margin-right: 15px;
}

.education h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.edu-content{
    height: 250px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.education .school-card{
    height: 120px;
}
.education .school-info{
    margin-left: 15px;
    
}
.education .schools{
    width: 500px;
}
.education .schools p{
    font-size: 19px;
    margin: 0;
}

.skills{
    background-color: aliceblue;
    height: 280px;
}
.skills .material-symbols-outlined{
    font-size: 45px;
    margin-right: 15px;
}

.skills h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills .skill-card{
    width: 450px;
    height: 120px;
    border: 1px solid rgb(106, 146, 255);
    margin: 15px;
    border-radius: 15px;
}

.skill-card .card-head{
    font-size: 32px;
    margin: 5px;
}

.skill-card .card-body p{
    font-size: 19px;
}

